.add-user {
  padding: 0.7rem 3rem;
  text-align: center;
  margin-top: 1rem;
}
.table {
  width: 95% !important;
  margin: 3rem auto;
  margin-top: 1.3rem;
  .actions {
    .link {
      text-decoration: none;
      .btn {
        margin: 0.2rem;
        .icon {
          font-size: 1.1rem;
        }
      }
    }
  }
}
