.welcome-wrapper{
    position: relative;
    background: linear-gradient(to right, rgba(0,0,0,0.91),rgba(0,0,0,0.91),rgba(0,0,0,0.8)), url('./../../images/welcome.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    font-size: #fff;
    .welcome-text-wrapper{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5rem;
        color: #fff;
        .welcome{
            font-size: 2.2rem;
        }
        h1{
            font-size: 4rem;
            margin-top: 0.5rem;
        }
        .description{
            font-size: 1.3rem;
            width: 80%;
            letter-spacing: 1px;
            line-height: 2rem;
            margin-top: 0.7rem;
        }
        .link{
            .btn{
                margin-top: 1.5rem !important;
                padding: 0.7rem 2rem;
                text-transform: capitalize;
                font-size: 1.1rem;
            }
        }
    }
}

@media(max-width:700px){
    .welcome-wrapper{
        .welcome-text-wrapper{
            margin-left: 2rem;
            .welcome{
                font-size: 1.5rem;
            }
            h1{
                font-size: 2.5rem !important;
            }
            .description{
                width: 90%;
                font-size: 1rem;
                letter-spacing: normal;
            }
            .link{
                .btn{
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}

@media(max-width: 600px){
    .welcome-wrapper{
        height: 60vh;
        .welcome-text-wrapper{
            margin-left: 1.5rem;
            .welcome{
                font-size: 1.3rem;
            }
            h1{
                font-size: 2rem !important;
            }
            .description{
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }

}
