.navbar {
  overflow-x: hidden !important;
  .link-wrapper {
    .link {
      text-decoration: none;
      .link-btn {
        color: white;
        padding: 0.7rem 2rem !important;
        text-transform: capitalize;
        font-size: 0.9rem;
        font-weight: 400 !important;
        letter-spacing: 1px;
      }
    }
  }
  .menu {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .navbar {
    position: relative;
    .link-wrapper {
      z-index: 10;
      position: absolute;
      right: -1000%;
      top: 0;
      bottom: 0;
    }
    .link-wrapper.responsive {
      display: block;
      position: fixed;
      right: 0%;
      width: 100%;
      background-color: #f6f6f6;
      animation-name: nav;
      animation-direction: alternate !important ;
      animation-duration: 1s;
      .link {
        display: block;
        border-bottom: 1px solid lightgrey;
        .link-btn {
          &:hover {
            background-color: #f6f6f6 !important;
          }
          color: black;
          margin: 1rem 0 !important;
        }
      }
    }
    .menu {
      display: block !important;
      z-index: 1000;
    }
    @keyframes nav {
      0% {
        right: -100%;
      }
      100% {
        right: 0%;
      }
    }
  }
}
