.footer {
  background-color: #393b44;
  color: #f1f3f8;
  .pre-footer {
    padding: 80px;
    display: flex;
    justify-content: space-evenly;

    .about-us {
      width: 40%;
      padding: 0 30px;

      h1 {
        font-weight: 400;
        font-size: 26px;
      }

      p {
        margin-top: 20px;
        width: 90%;
        font-size: 14px;
        line-height: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }

    .more-info {
      width: 20%;
      padding: 0 30px;

      h1 {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 26px;
      }

      ul {
        margin-top: 20px;
        list-style: none;

        li {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: #f1f3f8;
            font-size: 14px;
          }
        }
      }
    }

    .contact-details {
      width: 30%;
      padding: 0 30px;

      h1 {
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 26px;
      }

      .details {
        width: 70%;
        margin-top: 30px;
        display: flex;
        align-items: center;

        span {
          font-size: 28px;
          width: 10%;
        }

        p {
          font-size: 14px;
          margin-left: 30px;
          letter-spacing: 1px;
        }
      }
    }
  }

  .main-footer {
    //border-top: 1px solid #000000;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;

    h3 {
      color: #ffffff;
      font-weight: 400;
      font-size: 0.75rem;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .pre-footer {
      padding: 80px 40px !important;
      flex-direction: column;

      .about-us {
        width: 100%;
        padding: 0;

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
          width: 100% !important;
        }
      }

      .more-info {
        margin-top: 50px;
        padding: 0;
        width: 100%;

        h1 {
          font-size: 30px;
        }

        a {
          font-size: 16px !important;
        }
      }

      .contact-details {
        margin-top: 50px;
        padding: 0;
        width: 100%;
        font-size: 18px;

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 14px !important;
          margin-left: 10px;
          letter-spacing: 1px;
        }
      }
    }
  }
  .main-footer {
    h3 {
      font-weight: 400;
      font-size: 0.75rem;
    }
  }
}
